.bg1{
  background: url(../img/listbg.jpg) no-repeat top center;
  width: 100%;
  height: 730px;
}
.infor{
  position: absolute;
  top: 576px;
  /* height: 490px; */
  color: #83452e;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
  width: 600px;
}
.infor a{
  float: left;
  display: inline-block;
}
.infor span{
  width: 400px;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.infor-ul{
  float: right;
  overflow: hidden;
  text-align: center;
  height: 48px;
}
.infor-ul li{
  display: inline-block;
  width: 70px;
  border-right: solid 1px #83452e;
}
.infor-ul li:nth-child(5){
  border-right: none;
}
/*.infor-ul li:hover{
  color: #653c20;
}*/
.inforact{
  color: #653c20;
}
.list{
  width: 590px;
  /*height: 310px;*/
  margin-top: 30px;
  margin-left: 25px;
  height: auto;
}
.list li{
  font-size: 20px;
  color: #7e7f76;
  padding: 15px 10px;
  border-bottom: dashed 1px #979595;
}
.fr_dis{
  width: 115px;
  float: right;
  display: inline-block;
}
.w420{
  width: 420px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content{
  position: absolute;
  top: 625px;
  width: 100%;
  height: auto;
}
.bg3{
  background-color: #373a6d;
  width: 640px;
  height: 383px;
}
.footer{
  width: 600px;
  margin-left: 20px;
  position: relative;
  top: 50px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.article{
  margin-top: 50px;
  width: 84%;
  margin-left: 8%;
}
.article img{
  max-width: 100%;
}
