<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>《元气封神》官网，二次元神仙打架手游，河图音频怪物首次合体献唱主题曲</title>
  <meta name="description" content="《元气封神》是一款融合了精致的东方美学和创新策略玩法的原创趣味卡牌游戏。">
  <meta name="keywords" content="元气封神、河图、老妖、音频怪物、河图音频怪物、元气封神主题曲、元气封神OP">
  <meta name="viewport" content="width=640,target-densitydpi=320, minimum-scale=0.5, maximum-scale=2,user-scalable=0">
  <link rel="stylesheet" href="css/index.css?v=2017.11.9">
  <link rel="stylesheet" href="css/common.css?v=2017.11.9">
  <link rel="stylesheet" href="css/swiper.min.css">
  <script type="text/javascript" src="http://s0.web.hulai.com/static/jquery/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/swiper.min.js"></script>
  <script type="text/javascript" src="http://page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-cms-0.0.1.js?v=2017.11.9"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-activity-0.0.1.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/isMobile.min.js"></script>
  <script type="text/javascript">
    if (!isMobile.any) {
      var goUrl = '/home/index.html';
      var url = window.location.href;
      var urlArr = url.split('?')
      if (urlArr.length > 1) {
        goUrl = goUrl + '?' + urlArr[1];
      }
      location.replace(goUrl);
    }
  </script>
</head>
<body>
<div id="app" v-cloak>
  <div class="top">
    <img class="icon" src="img/icon.png">
    <section>
      <span>元气封神</span>
      <span>二次元神仙打架手游</span>
    </section>
    <!-- 安卓 -->
    <img v-show="isAnd" src="img/ljxz.png" @click="showDialog()">
    <!-- ios -->
    <a href="https://tracking.hoolai.com/tracking/5903/" v-show="isIos" style="float: right;margin-right: 30px;margin-top: 14px;">
      <img id="iosdown" src="img/ljxz.png">
    </a>
  </div>

  <img class="video" src="img/video.png" alt="" onclick="playVideo()" >

  <!-- <img class="yuyue" src="img/ljxiazai.png" @click="showDialog()"> -->
  <div class="download">
    <img src="img/android.png" @click="showDialog()">
    <a href="https://tracking.hoolai.com/tracking/5903/" style="float: right;display: inline-block;width: auto;height: auto;">
      <img src="img/iOS.png" style="float: right;">
    </a>
  </div>

  <div class="infor">
    <ul class="infor-ul">
      <li :class="{inforact: zuixin}" @click="goGetList('最新',1)">最新</li>
      <li :class="{inforact: xinwen}" @click="goGetList('新闻',1)">新闻</li>
      <li :class="{inforact: gonggao}" @click="goGetList('公告',1)">公告</li>
      <li :class="{inforact: gonglue}" @click="goGetList('攻略',1)">攻略</li>
      <li :class="{inforact: huodong}" @click="goGetList('活动',1)">活动</li>
    </ul>
    <ul class="list">
      <li v-for="item in listData">
        <a :href="item.hrefVal">
          <span class="w420">
            <span>[</span>{{listName}}<span>]</span>
            <span>{{item.title}}</span>
          </span>
          <span class="fr_dis">{{item.updated}}</span>
        </a>
      </li>
    </ul>
    <a :href="more_href" class="more">更多 ></a>
  </div>

  <div style="position: absolute;top: 1305px;width: 610px;text-align: center;margin-left: 15px;">
    <div class="swiper-container top_lunbo">
      <div class="swiper-wrapper">
        <div class="swiper-slide" >
          <a style="height: 320px;width: 610px;margin:0 auto" target="_top" href="article.html#1585">
            <img src="img/banner1.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a style="height: 320px;width: 610px;margin:0 auto" target="_top" href="http://yqfs.hulai.com/">
            <img src="img/banner2.jpg">
          </a>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination top_pagination" ></div>
    </div>
  </div>

  <div style="position: absolute;top: 1780px;width: 610px;text-align: center;">
    <div class="swiper-container mid_lunbo" style="width:640px;height:783px;">
      <div class="swiper-wrapper">
        <div class="swiper-slide lunbo1" style="background:url(img/aocunxin.png) no-repeat;">
          <div class="voice" onclick="play1()">
              <audio id="xqt1" src = "http://webcdn.hulai.com/video/1509971735428.mp3">
          你的浏览器不支持audio标签（aocunxin）
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/daji.png) no-repeat;">
          <div class="voice" onclick="play2()">
              <audio id="xqt2" src = "http://webcdn.hulai.com/video/1509971736489.mp3">
          你的浏览器不支持audio标签daji
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/hengjiang.png) no-repeat;">
          <div class="voice" onclick="play3()">
              <audio id="xqt3" src = "http://webcdn.hulai.com/video/1509971737628.mp3">
          你的浏览器不支持audio标签hengjiang
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/jiangziya.png) no-repeat;">
          <div class="voice" onclick="play4()">
              <audio id="xqt4" src = "http://webcdn.hulai.com/video/1509971739188.mp3">
          你的浏览器不支持audio标签jingziya
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/jifa.png) no-repeat;">
          <div class="voice" onclick="play5()">
              <audio id="xqt5" src = "http://webcdn.hulai.com/video/1509971739969.mp3">
          你的浏览器不支持audio标签jifa
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/randeng.png) no-repeat;">
          <div class="voice" onclick="play6()">
              <audio id="xqt6" src = "http://webcdn.hulai.com/video/1509971740778.mp3">
          你的浏览器不支持audio标签randeng
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/yuanshitianzun.png) no-repeat;">
          <div class="voice" onclick="play7()">
              <audio id="xqt7" src = "http://webcdn.hulai.com/video/1509971742178.mp3">
          你的浏览器不支持audio标签yuanshi
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/zhouwang.png) no-repeat;">
          <div class="voice" onclick="play8()">
              <audio id="xqt8" src = "http://webcdn.hulai.com/video/1509971742859.mp3">
          你的浏览器不支持audio标签zhouwang
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/xumian.png) no-repeat;">
          <div class="voice" onclick="play9()">
              <audio id="xqt9" src = "http://webcdn.hulai.com/video/1509971744438.mp3">
          你的浏览器不支持audio标签xumian
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/yangjian.png) no-repeat;">
          <div class="voice" onclick="play10()">
              <audio id="xqt10" src = "http://webcdn.hulai.com/video/1509971745338.mp3">
          你的浏览器不支持audio标签yangjian
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/zhulong.png) no-repeat;">
          <div class="voice" onclick="play11()">
              <audio id="xqt11" src = "http://webcdn.hulai.com/video/1509971746608.mp3">
          你的浏览器不支持audio标签zhulong
              </audio>
          </div>
        </div>
        <div class="swiper-slide lunbo1" style="background:url(img/yudingzhenren.png) no-repeat;">
          <div class="voice" onclick="play12()">
              <audio id="xqt12" src = "http://webcdn.hulai.com/video/1509971747608.mp3">
          你的浏览器不支持audio标签yuding
              </audio>
          </div>
        </div>
      </div>
      <div class="swiper-button-next swiper-button-white" style="background-image:url(img/next.png);margin-top: -275px;width: 35px;height: 118px;background-size: 100% 100%;"></div>
      <div class="swiper-button-prev swiper-button-white" style="background-image:url(img/prev.png);margin-top: -275px;width: 35px;height: 118px;background-size: 100% 100%;"></div>
    </div>
  </div>
  <a href="xianren.html" style="z-index: 3;position: absolute;top: 2245px;right: 20px;color: #8880bf;font-size: 20px;">更多角色》</a>

  <!-- 底部轮播 -->
  <div style="height: 300px;position: absolute;top: 2752px;margin-left: 20px;">
    <div class="tese" style="height:300px">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide t0"></div>
          <div class="swiper-slide t1"></div>
          <div class="swiper-slide t2"></div>
          <div class="swiper-slide t3"></div>
          <div class="swiper-slide t4"></div>
        </div>
      </div>
      <div class="swiper-button-next swiper-button-white" style="background-image:url(img/right.png);width: 26px;height: 121px;background-size: 100%;background-image: url(img/right.png);top: 106px;"></div>
      <div class="swiper-button-prev swiper-button-white" style="background-image:url(img/left.png);width: 26px;height: 121px;background-size: 100%;background-image: url(img/right.png);top: 106px;"></div>
    </div>
  </div>

  <!-- 底部 -->
  <div class="footer">
    <div class="ui inverted segment">
      <div class="ui container c_center">
        <p>
          温馨提示：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活
          <br/> 本网站所有游戏仅适合于年满18周岁以上的用户。如果您未满18周岁，不建议您注册并使用本网络游戏服务；
          <br/> 如果您坚持使用，请您务必加入本网络游戏防沉迷系统进行实名注册，同时我们将会按照您法定监护人的需求提供您在本网络游戏中的信息。
          <br/> 您在使用本网络游戏服务之前已经明确知晓网络游戏可能给您带来的一切潜在威胁，包括长时间游戏可能不利于您的身心健康等。为了您的健康请您合理的使用本网络游戏。
        </p>

        <p>京ICP备11034336号-1 |
          <a target="_blank" href="http://www.hulai.com/assets/files/huai_wenwangwen.jpg">
            <font color="#fff">京网文[2011]0744-272号 |</font>
          </a>
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033250">
            <font color="#fff"><img src="http://www.beian.gov.cn/img/ghs.png">京公网安备 11010502033250号 |</font>
          </a>
          <a target="_blank" href="http://www.hulai.com/assets/files/huai_xukezheng.pdf">
            <font color="#fff">（总）网出证（京）字第095号 |</font>
          </a>
          <a href="#">
            <font color="#fff">ICP证书号:京B2-20171148</font>
          </a>
        </p>
        <p>
          <a class="c_white" target="_blank" href="http://www.hulai.com/server" style="color:#fff">服务协议 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/privacy" style="color:#fff">隐私权保护声明 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/minors" style="color:#fff">未成年人家长监护 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/law" style="color:#fff">法律声明 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/dispute" style="color:#fff">纠纷、投诉</a>
        </p>
        <p>
          北京市石景山区八大处高科技园区西井路3号3号楼9229房间 010-62662622
        </p>
        <p>
          Copyright © 2015 Hoolai Games. All Rights Reserved | 互爱互动（北京）科技有限公司版权所有
        </p>
      </div>
     </div>
  </div>

  <div class="dialog" v-show="show_dialog">
    <div class="yuyue">
      <!-- <img src="img/cross.png" alt="" class="cross" @click="closeMc()"> -->
      <div class="dialog_top">
        <p>选择手机系统:</p>
        <button class="and" style='outline:none;' :class="{active: isAnd}" @click="chooseXT('android')">Android</button>
        <button class="ios" style='outline:none;' :class="{active: isIos}" @click="chooseXT('ios')">iOS</button>
      </div>
      <div class="middle adjustment">
        <input v-model="telephone" id="mobile" name="telephone" type="text" class="txt" placeholder="请输入手机号码" style='outline:none;' onfocus="this.placeholder=''" onblur="this.placeholder='输入手机号'">
      </div>
      <div class="bottom adjustment">
        <input type="text" class="txt1" placeholder="请输入验证码" style='outline:none;' v-model="code" id="smscode" name="code" onfocus="this.placeholder=''" onblur="this.placeholder='输入验证码'">
        <input v-bind:disabled="isDisabled" v-model="smsCodeVal" @click="sendSms(this)" type="button" class="yanzheng" name="name" style='outline:none;'>
      </div>
      <div class="last adjustment">
        <button class="receive" style='outline:none;' @click="saveRecord()">立即提交</button>
      </div>
      <p class="people">已有<label id='total' v-model="total" style="color:#eb6949">{{total}}</label>名玩家预约成功</p>
    </div>
    <!-- <div class="close" v-show="show_dialog" @click="closeDialog()"></div> -->
  </div>
  <div id="cover" v-show="show_dialog" @click="closeDialog()"></div>

  <div class="video_player">
      <img src="img/close.png" class="video_close" onclick="closeVideo()">
      <video id="video" width="640" height="360" src="http://cdn.yq.hulai.com/download/resource/Android/yqfsOPnew.mp4" controls="controls">
      无法支持html5浏览器
    </video>
  </div>
  <div class="cover"></div>
</div>
<script type="text/javascript" src="js/index.js?v=2017.11.9"></script>
<script>
  //轮播
  window.teseSwiper = $(".tese .swiper-container").swiper({
    slidesPerView: 3,
    speed: 500,
    prevButton: '.swiper-button-prev',
    nextButton: '.swiper-button-next',
    effect: "coverflow",
    centeredSlides: !0,
    slidesPerView: "auto",
    autoplay: 3000,
    coverflow: {
      rotate: 0,
      stretch: 0,
      depth: 300,
      modifier: 1
    },
    loop: !0
  });
  //改变尺寸后刷新轮播
  $(window).resize(function(event) {
    setTimeout("teseSwiper.update();teseSwiper.slideNext();", 500);
  });
</script>
<script>
  function playVideo() {
    $(".video_player").css("display", "block");
    $(".cover").css("display", "block");
    var myVideo = document.getElementById("video");
    myVideo.play();
  }
  // 视频关闭
  function closeVideo(){
    $(".video_player").css("display", "none");
    $(".cover").css("display", "none");
    var myVideo = document.getElementById("media");
    myVideo.pause();
  }
  var swiper = new Swiper('.top_lunbo', {
    pagination: '.top_pagination',
    // pagination: '.swiper-pagination ',
    paginationClickable: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: 2500,
    autoplayDisableOnInteraction: false,
    loop: true
  });
  var swiper2 = new Swiper('.mid_lunbo', {
    // pagination: '.swiper-pagination',
    // paginationClickable: true,
    spaceBetween: 30,
    centeredSlides: true,
    // autoplay: 2500,
    autoplayDisableOnInteraction: false,
    loop: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  })
  var isPlaying = false;
  function play1() {
    var player = document.getElementById('xqt1');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play2() {
    var player = document.getElementById('xqt2');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play3() {
    var player = document.getElementById('xqt3');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play4() {
    var player = document.getElementById('xqt4');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play5() {
    var player = document.getElementById('xqt5');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play6() {
    var player = document.getElementById('xqt6');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play7() {
    var player = document.getElementById('xqt7');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play8() {
    var player = document.getElementById('xqt8');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play9() {
    var player = document.getElementById('xqt9');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play10() {
    var player = document.getElementById('xqt10');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play11() {
    var player = document.getElementById('xqt11');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
  function play12() {
    var player = document.getElementById('xqt12');
    if (isPlaying) {
      isPlaying = false;
      player.pause();
      // player.src = '';
    } else {
      // player.src = 'http://cdn.hoolaiimg.com/video/1497859589603.mp3';
      player.play();
      isPlaying = true;
    }
  }
</script>
</body>
</html>
