<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>元气封神-萌神集结冲破次元！公测预约开启</title>
  <meta name="keywords" content="元气封神,元气,封神,封神榜,封神演义,封神召唤师,召唤师,召唤,二次元,立绘,国风,国漫,元气封神手游,封神召唤师手游,封神手游,阴阳师,式神,穿越,卡牌,策略,炉石传说,炉石,CR,皇室战争,三国杀,影之诗,实时对战,女娲,女娲娘娘,妲己,纣王,姜子牙,姜太公,姜尚,姬发,燃灯,燃灯道人,杨戬,二郎神,龙吉公主,龙吉,敖寸心,哪吒,托塔天王,李靖,雷震子,太乙,太乙真人,元始天尊,烛龙,四不像,闻太师,闻仲,申公豹,道友请留步,斩仙飞刀,陆压道人,陆压,请宝贝转身,打神鞭,姬昌,周文王,周武王,龙须虎,土行孙,狐狸精,比干,哼哈二将,四大天王,云中子,阎王,孟婆,旱魃,CV">
  <meta name="description" content="《元气封神》是一款二次元萌神冒险策略手游，融合精致东方美学与创新策略玩法。众多一线画师加盟，倾力打造国风魅力，数十位性格各异封神人物，上阵斗法！独创实时竞技与回合策略玩法完美结合，一分钟上手、三分钟一局，即刻体验全新对战乐趣！冲破次元，萌神集结！">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=640,target-densitydpi=320, minimum-scale=0.5, maximum-scale=2,user-scalable=0">
  <link rel="stylesheet" href="css/index.css">
  <script type="text/javascript" src="http://s0.web.hulai.com/static/jquery/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="http://page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/isMobile.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-activity-0.0.1.js"></script>
  <script type="text/javascript">
    if (!isMobile.any) {
      var goUrl = '../index.html';
      var url = window.location.href;
      var urlArr = url.split('?')
      if (urlArr.length > 1) {
        goUrl = goUrl + '?' + urlArr[1];
      }
      location.replace(goUrl);
    }
  </script>
  <style type="text/css">
  [v-cloak] {
    display: none;
  }
  </style>
</head>
<body>
  <div id="app" v-cloak>
  <!-- <video style="width:100%;" autoplay="autoplay" loop id="bgvid" webkit-playsinline="true">
    <source src="shipin.webm" type="video/webm">
    <source src="shipin.mp4" type="video/mp4">
  </video> -->
    <div class="container">
        <img src="img/logo.gif" alt="" style="position: absolute;top: 1px;left: 158px;">
      <div class="mid">
        <img src="img/now.png" alt="" class="now" @click="openMc()" style="padding-left: 15px;">
        <img src="img/weixin.png" alt="" class="weixin">
      </div>
    </div>
    <div class="cover" v-show="cover" @click="closeMc()"></div>
    <div class="yuyue" v-show="yuyue">
      <img src="img/cross.png" alt="" class="cross" @click="closeMc()">
      <div class="top">
        <p>选择手机系统:</p>
        <button class="and" style='outline:none;' :class="{active: isAnd}" @click="chooseXT('android')">Android</button>
        <button class="ios" style='outline:none;' :class="{active: isIos}" @click="chooseXT('ios')">iOS</button>
      </div>
      <div class="middle adjustment">
        <input v-model="telephone" id="mobile" name="telephone" type="text" class="txt" placeholder="请输入手机号码" style='outline:none;' onfocus="this.placeholder=''" onblur="this.placeholder='输入手机号'">
      </div>
      <div class="bottom adjustment">
        <input type="text" class="txt1" placeholder="请输入验证码" style='outline:none;' v-model="code" id="smscode" name="code" onfocus="this.placeholder=''" onblur="this.placeholder='输入验证码'">
        <!-- <button class="yanzheng" style='outline:none;' v-model="smsCodeVal" @click="sendSms(this)" name="name" v-bind:disabled="isDisabled">发送验证码</button> -->
        <input v-bind:disabled="isDisabled" v-model="smsCodeVal" @click="sendSms(this)" type="button" class="yanzheng" name="name" style='outline:none;' >
      </div>
      <div class="last adjustment">
        <button class="receive" style='outline:none;' @click="saveRecord()">立即提交</button>
      </div>
      <p class="people">已有<label id='total' v-model="total" style="color:#eb6949">{{total}}</label>名玩家预约成功</p>
    </div>
    
  </div>

<script>        
  (function (doc, win) {    
      var docEl = doc.documentElement,    
      resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',    
      recalc = function () {    
      var clientWidth = docEl.clientWidth;    
      if (!clientWidth) return;    
      docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';    
  };    
  if (!doc.addEventListener) return;    
  win.addEventListener(resizeEvt, recalc, false);    
  doc.addEventListener('DOMContentLoaded', recalc, false);    
  })(document, window); 
 
</script>
<script type="text/javascript" src="js/index.js?v=0.0.3"></script>
</body>
</html>